# Adminer
adminer.svc.{{ (datasource "cfg").sys.hostname }}:443 {
    log / stdout "[DASPANEL-ADMINER-ACCESSLOG] {>Referer} {remote} {when} {method} {uri} {proto} {status} {size} {>User-Agent} {latency} {request}"
    errors stdout
    root /opt/daspanel/services/adminer
    gzip
    tls self_signed
    fastcgi / 127.0.0.1:9000 php
}

# RichFilemanager
fm.svc.{{ (datasource "cfg").sys.hostname }}:443 {
    basicauth / {{ (datasource "cfg").sys.admin }} {{ (datasource "cfg").sys.password }}
    log / stdout "[DASPANEL-FILEMANAGER-ACCESSLOG] {>Referer} {remote} {when} {method} {uri} {proto} {status} {size} {>User-Agent} {latency} {request}"
    errors stdout
    root /opt/daspanel/services/RichFilemanager
    gzip
    tls self_signed
    fastcgi / 127.0.0.1:9000 php
}


