# Adminer
adminer.svc.{{getenv "DASPANEL_SYS_HOST" "daspanel.site"}}:8080 {
    log / /opt/daspanel/log/{{getenv "DASPANEL_SYS_UUID"}}/caddy/adminer-access.log "{>Referer} {remote} {when} {method} {uri} {proto} {status} {size} {>User-Agent} {latency} {request}" { 
        rotate {
            size 10 # Rotate after 10 MB
            age  14  # Keep log files for 14 days
            keep 10  # Keep at most 10 log files
        }
    }
    errors {
        log /opt/daspanel/log/{{getenv "DASPANEL_SYS_UUID"}}/caddy/adminer-error.log {
            size 10 # Rotate after 10 MB
            age  7  # Keep log files for 14 days
            keep 5  # Keep at most 10 log files
        }
    }
    root /opt/daspanel/services/adminer
    gzip
    tls off
    fastcgi / 127.0.0.1:9000 php
}

