# Adminer
adminer.svc.{{ (datasource "cfg").sys.hostname }}:443 {
    log / stdout "[DASPANEL-ADMINER-ACCESSLOG] {>Referer} {remote} {when} {method} {uri} {proto} {status} {size} {>User-Agent} {latency} {request}"
    errors stdout
    root /opt/daspanel/services/adminer
    gzip
    tls self_signed
    fastcgi / 127.0.0.1:9000 php
    header / {
        X-Frame-Options        SAMEORIGIN
        X-Content-Type-Options nosniff
        X-XSS-Protection       "1; mode=block"
        Referrer-Policy        no-referrer-when-downgrade
        Strict-Transport-Security "max-age=31536000; includeSubdomains; preload"
        -X-Powered-By
    }
}

# RichFilemanager
fm.svc.{{ (datasource "cfg").sys.hostname }}:443 {
    basicauth / {{ (datasource "cfg").sys.admin }} {{ (datasource "cfg").sys.password }}
    log / stdout "[DASPANEL-FILEMANAGER-ACCESSLOG] {>Referer} {remote} {when} {method} {uri} {proto} {status} {size} {>User-Agent} {latency} {request}"
    errors stdout
    root /opt/daspanel/services/RichFilemanager
    gzip
    tls self_signed
    fastcgi / 127.0.0.1:9000 php
    header / {
        X-Frame-Options        SAMEORIGIN
        X-Content-Type-Options nosniff
        X-XSS-Protection       "1; mode=block"
        Referrer-Policy        no-referrer-when-downgrade
        Strict-Transport-Security "max-age=31536000; includeSubdomains; preload"
        -X-Powered-By
    }
}


